<div class="container">
    <div class="jumbotron">
        <h3>Queremos ouvir o que você tem a dizer</h3>
        <p>Se você tiver alguma dúvida ou sugestão, fale conosco:</p>

        <!-- Lista sem marcação para agrupar os itens -->
        <ul class="list-unstyled">
            <li class="mb-2">
                <!-- Ícone de envelope -->
                <i class="bi bi-envelope-fill me-2"></i>
                <!-- TagHelper de e-mail -->
                <email address="test@gmail.com" content="Enviar um e-mail"></email>
            </li>
            <li class="mb-2">
                <!-- Ícone de telefone -->
                <i class="bi bi-telephone-fill me-2"></i>
                (11) 99999-9999
            </li>
            <li>
                <!-- Ícone de localização -->
                <i class="bi bi-geo-alt-fill me-2"></i>
                Av. Juscelino Kubichek 1000 - 03540-550 - São Paulo
            </li>
        </ul>
    </div>
</div>
