@model SnackHub.Models.Category

@{
    ViewData["Title"] = "Detalhes da Categoria";
    Layout = "_AdminLayout";
}

<div class="container my-4">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card shadow-sm">
                <div class="card-header bg-white d-flex align-items-center justify-content-center">
                    <i class="bi bi-eye me-2" style="font-size: 1.6rem; color: #FD862A;"></i>
                    <h4 class="card-title mb-0">Detalhes da Categoria</h4>
                </div>

                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-3">Nome:</dt>
                        <dd class="col-sm-9">@Model.Name</dd>
                    </dl>

                    <hr />

                    <dl class="row">
                        <dt class="col-sm-3">Descrição:</dt>
                        <dd class="col-sm-9">@Model.Description</dd>
                    </dl>

                    <hr />

                    <div class="d-flex justify-content-between">
                        <a asp-action="Index" class="btn btn-secondary">Retornar</a>
                        <div>
                            <a asp-action="Delete" asp-route-id="@Model.CategoryId" class="btn btn-danger">
                                Deletar
                            </a>
                            <a asp-action="Edit" asp-route-id="@Model.CategoryId" class="btn btn-warning me-2">
                                Editar
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
