<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <link rel="icon" type="image/png" href="~/img/logo/LogoSite.png" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <!-- Outros CSS específicos para o login, se desejar -->
</head>
<body style="background-color: #f5f5f5;">

    <!-- Exemplo de seção com logo ao centro -->
    <div class="text-center p-3" style="background-color: #111b25;">
        <span style="font-size: 1.5rem; font-weight: bold;">
            <span style="color: #FCFEFB;">Snack</span><span style="color: #FD862A;">Hub</span><span style="color: #FCFEFB; font-size: 1rem;">.com</span>
        </span>
    </div>

    <!-- Aqui entra o conteúdo da tela de login -->
    <main>
        @RenderBody()
    </main>

    <footer class="text-center mt-5">
        <small>&copy; 2025 - SnackHub</small>
    </footer>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
