<form class="nav-link text-light d-flex align-items-center" style="flex: 1;">
    <div class="input-group">
        <button class="btn btn-categories dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Categorias
        </button>

        <ul class="dropdown-menu dropdown-scroll">
            <li><a class="dropdown-item" href="#">Todos os departamentos</a></li>
            <li><a class="dropdown-item" href="#">Lanches Naturais</a></li>
            <li><a class="dropdown-item" href="#">Lanches normais</a></li>
            <li><a class="dropdown-item" href="#">Sobremesas</a></li>
            <li><a class="dropdown-item" href="#">Bebidas</a></li>
            <li><a class="dropdown-item" href="#">Bebidas</a></li>
            <li><a class="dropdown-item" href="#">Bebidas</a></li>
            <li><a class="dropdown-item" href="#">Bebidas</a></li>
            <li><a class="dropdown-item" href="#">Bebidas</a></li>
            <li><a class="dropdown-item" href="#">Bebidas</a></li>
            <li><a class="dropdown-item" href="#">Bebidas</a></li>
            <li><a class="dropdown-item" href="#">Bebidas</a></li>
            <li><a class="dropdown-item" href="#">Bebidas</a></li>
            <li><a class="dropdown-item" href="#">Bebidas</a></li>
            <li><a class="dropdown-item" href="#">Bebidas</a></li>
            <li><a class="dropdown-item" href="#">Bebidas</a></li>
            <li><a class="dropdown-item" href="#">Bebidas</a></li>
            <li><a class="dropdown-item" href="#">Bebidas</a></li>
            <li><a class="dropdown-item" href="#">Bebidas</a></li>
            <li><a class="dropdown-item" href="#">Bebidas</a></li>
        </ul>

        <input class="form-control" type="search" placeholder="Pesquisar SnackHub.com.br" aria-label="Search" name="searchString" value="@ViewData["searchString"]" />

        <button class="btn btn-search" type="submit" style="background-color: #febd6b;">
            <i class="bi bi-search"></i>
        </button>
    </div>
</form>