.dropdown {
    position: relative; 
}

.btn-categories {
    border: 3px solid transparent;
    border-radius: 4px;
    padding: 6px 10px;
    background-color: #e7e5e8;
    color: #555651;
    transition: border-color 0.2s, background-color 0.2s, color 0.2s;
}

.dropdown:hover .dropdown-menu {
    display: block !important; 
}

.dropdown:hover .btn-categories {
    border-color: #ff9900; 
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: calc(100% + 2px); 
    left: 0; 
    min-width: 10rem;
    border: 1px solid #616161;
    background-color: #fff;
    z-index: 1000; 
}

.dropdown-scroll {
    max-height: 12rem;
    overflow-y: auto;
}

.dropdown-menu .dropdown-item {
    color: #000 !important;
    transition: background-color 0.2s;
}

    .dropdown-menu .dropdown-item:hover {
        background-color: #767676 !important;
        color: #fff !important;
    }
