.form-control.search-bar {
    border: 2px solid transparent;
    border-radius: 4px;
    padding: 6px 10px;
    line-height: 1.5;
    transition: border-color 0.2s;
}

    .form-control.search-bar:hover,
    .form-control.search-bar:focus {
        border-color: #ff9900;
        outline: none;
        box-shadow: none;
    }
