.lang-dropdown {
    border: none;
    border-radius: 6px;
    padding: 8px 8px;
    margin: 4px;
    position: relative;
    display: inline-block;
    background: none;
}

    .lang-dropdown button {
        background: none;
        border: none;
        color: #fff;
        font-size: 1rem;
        cursor: pointer;
        display: flex;
        align-items: center;
    }

    .lang-dropdown .dropdown-menu {
        display: none;
        position: absolute;
        top: 100%;
        right: -9px;
        left: auto;
        background-color: #232F3F !important;
        color: #fff !important;
        border-radius: 6px !important;
    }

    .lang-dropdown:hover .dropdown-menu {
        display: block !important;
    }

    .lang-dropdown .dropdown-item {
        color: #fff !important;
    }

        .lang-dropdown .dropdown-item:hover {
            background-color: #fff !important;
            color: #000 !important;
        }
