.navbar-custom {
    background-color: #111b25;
    padding: 0.1rem 0.1rem;
}

.left-section, .center-section, .right-section {
    display: flex;
    align-items: center;
}

@media (max-width: 992px) {
    .navbar-custom {
        flex-wrap: wrap;
    }

    .left-section, .center-section, .right-section {
        width: 100%;
        justify-content: center;
        margin-bottom: 0.5rem;
    }
}